@media (max-width: 768px){
	#main-area,menu,header,section{
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	hgroup{
		width: 100%;
		text-align: center;
	}

	menu{
		padding: 20px 0;
	}
	nav ul li{
		width: 100%;
		text-align: center;
	}
	img{
		max-width: 100%;
	}
	content,.spacing{
		width: 70%;
		margin: 2% 15%;
	}
	shop{
		width: 40%;
		margin: 2% 5%;
	}
	
	.shop{
		width:90%;
		margin:2% 5%;
		}

}